.footer {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	text-align: center;
}
.affiche{
	padding-top: 60px;
}
.conteneur{
	position:relative;
	margin: 0 auto;
	width: 400px;
	border:1px solid #fff;
}